<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Emergency</title>
<link href="style.css" rel="stylesheet" type="text/css">
<style type="text/css">
img.ex1 {
width: 96px;
height: 65px;
}
img.ex2 {
width: 70%;
height: 70%;
}
</style>
<script type="text/javascript">
<!--
var listURL = {
BandarSeriBegawan: "/alert",
Bangar: "/alert2",
Jerudong: "/alert3",
Muara: "/alert",
Seria: "/alert2",
Sukang: "/alert3",
PekanTutong: "/alert"
}

function checkSelect(){
var mySelect = "";
var f_select = document.form1.select;
var f_option = f_select.getElementsByTagName("option");
for(var i=0;i<f_option.length;i++){
if( f_option[ i ].selected ){ mySelect = f_option[ i ].value; }
}
window.location.href = listURL[mySelect];
}

// -->
</script>

</head>

<body>
<form name="form1">
<div id="out"><!-- 外周 -->
<div id="head">
<h1>Early Warning</h1>
</div><!-- head -->

<div id="main">

	<div id="right"><!-- 本文 -->
	<h2>Early Warning</h2>
        <!--<iframe  scrolling="no" frameborder="no" src="./aaa.html" width="400px" height="350px"></iframe>-->
        <select name="select">
        <option value="BandarSeriBegawan">Bandar Seri Begawan</option>
        <option value="Bangar">Bangar, Brunei</option>
        <option value="Jerudong">Jerudong</option>
        <option value="Muara">Muara, Brunei</option>
        <option value="Seria">Seria</option>
        <option value="Sukang">Sukang</option>
        <option value="PekanTutong">Pekan Tutong</option>
        </select>
        <button type="button" name="jump" value="jump" onclick="checkSelect();">PUSH</button>

	</div><!-- right -->


<br style="clear:both">
</div><!-- main -->


<div id="foot">
</div><!-- foot -->
</div><!-- out -->
</form>
</body>
</html>
